.hlc-btn {
  @apply cursor-pointer inline-block text-center select-none not-italic heading-semibold transition-all ease-out;
}

.hlc-btn-disabled {
  @apply cursor-not-allowed;
}

.hlc-btn-disabled > .hlc-dot {
  @apply !bg-base-primary_disabled;
}

.hlc-btn:has(.hlc-btn-icon-loading) {
  @apply cursor-wait;
}

/* Button Size */
.hlc-btn-size-sm {
  @apply px-[13px] py-[7px] text-sm rounded-sm;
}
.hlc-btn-size-md {
  @apply px-[15px] py-[9px] text-sm rounded-sm;
}
.hlc-btn-size-lg {
  @apply px-[15px] py-[9px] text-base rounded-md;
}
.hlc-btn-size-xl {
  @apply px-[19px] py-[11px] text-base rounded-md;
}
.hlc-btn-size-2xl {
  @apply px-[23px] py-[13px] text-lg rounded-md;
}

/* Icon Only */
.hlc-btn-icon-only {
  @apply !px-0 inline-flex items-center justify-center;
  &.hlc-btn-size-sm:not(.hlc-btn-link) {
    @apply min-w-9;
  }
  &.hlc-btn-size-md:not(.hlc-btn-link) {
    @apply min-w-10;
  }
  &.hlc-btn-size-lg:not(.hlc-btn-link) {
    @apply min-w-[44px];
  }
  &.hlc-btn-size-xl:not(.hlc-btn-link) {
    @apply min-w-12;
  }
  &.hlc-btn-size-2xl:not(.hlc-btn-link) {
    @apply min-w-14;
  }
}

/* Button Icon */
.hlc-btn-icon:not(.hlc-btn-icon-only) {
  @apply inline-flex items-center gap-x-md;
}
.hlc-btn-icon > .icon {
  @apply text-[1.25rem];
}
.hlc-btn-icon.hlc-btn-size-2xl:not(.hlc-btn-icon-only) {
  @apply gap-x-lg;
}
.hlc-btn-icon.hlc-btn-size-2xl > .icon {
  @apply text-[1.5rem];
}
.hlc-btn-icon > .hlc-btn-icon-loading {
  @apply text-[1.25rem] w-5 h-5;
}
.hlc-btn-icon > .hlc-btn-icon-loading > .icon {
  @apply animate-spin;
}

.hlc-btn-primary.hlc-btn-icon-left:hover > .hlc-dot,
.hlc-btn-primary.hlc-btn-icon-left:active > .hlc-dot {
  @apply bg-[#FFFFFFE5];
}

.hlc-btn.hlc-btn-icon-left {
  &:not(.hlc-btn-primary) > .hlc-dot {
    @apply bg-fill-success-primary;
  }
  &:not(.hlc-btn-primary):hover > .hlc-dot {
    @apply bg-fill-success-primary_hover;
  }
  &:not(.hlc-btn-primary):active > .hlc-dot {
    @apply bg-fill-success-primary_active;
  }
}

/* Button Primary */
.hlc-btn-primary {
  @apply relative bg-fill-brand-red-primary border border-transparent bg-clip-padding text-white shadow-xs;
  &:hover {
    @apply bg-fill-brand-red-primary_hover;
  }
  &:active {
    @apply bg-fill-brand-red-primary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &:not(.hlc-btn-disabled) {
    &::before {
      @apply absolute z-[-1] -m-[1px] inset-0;
      content: '';
      border-radius: inherit;
      background: linear-gradient(to bottom, var(--color-primary-400), var(--color-primary-600));
    }
    &:hover::before {
      background: linear-gradient(to bottom, var(--color-primary-500), var(--color-primary-700));
    }
    &:active::before {
      background: linear-gradient(to bottom, var(--color-primary-600), var(--color-primary-800));
    }
    &:focus-visible::before {
      background: linear-gradient(to bottom, var(--color-primary-400), var(--color-primary-600));
    }
  }
  &.hlc-btn-disabled {
    @apply bg-surface-base-primary_disabled text-base-primary_disabled border-base-primary_disabled;
  }
}
/* Button Primary + danger */
.hlc-btn-primary.hlc-btn-danger {
  &:not(.hlc-btn-disabled) {
    @apply bg-fill-error-primary;
    &:hover {
      @apply bg-fill-error-primary_hover;
    }
    &:active {
      @apply bg-fill-error-primary_active;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-error-400;
    }
    &::before {
      background: linear-gradient(to bottom, var(--color-error-400), var(--color-error-600));
    }
    &:hover::before {
      background: linear-gradient(to bottom, var(--color-error-500), var(--color-error-700));
    }
    &:active::before {
      background: linear-gradient(to bottom, var(--color-error-600), var(--color-error-800));
    }
    &:focus-visible::before {
      background: linear-gradient(to bottom, var(--color-error-400), var(--color-error-600));
    }
  }
}

/* Button Secondary */
.hlc-btn-secondary.hlc-btn-color-primary {
  &:not(.hlc-btn-danger, .hlc-btn-disabled) {
    @apply relative bg-fill-brand-green-primary text-white border border-transparent bg-clip-padding shadow-xs;
    &:hover {
      @apply bg-fill-brand-green-primary_hover;
    }
    &:active {
      @apply bg-fill-brand-green-primary_active;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-secondary-400;
    }
    &::before {
      @apply absolute z-[-1] -m-[1px] inset-0;
      content: '';
      border-radius: inherit;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -240%, rgba(13, 45, 63, 1) 70%);
    }
    &:hover::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -240%, rgba(9, 34, 53, 1) 70%);
    }
    &:active::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -240%, rgba(6, 24, 42, 1) 70%);
    }
    &:focus-visible::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -240%, rgba(13, 45, 63, 1) 70%);
    }
  }
  &:not(.hlc-btn-danger).hlc-btn-disabled {
    @apply bg-surface-base-primary_disabled text-base-primary_disabled border border-base-primary_disabled shadow-xs;
  }
}
/* Button Secondary + color gray */
.hlc-btn-secondary.hlc-btn-color-gray {
  @apply bg-surface-base-primary text-base-secondary border border-base-primary shadow-xs;
  &:hover {
    @apply bg-surface-base-primary_hover text-base-secondary_hover border-base-primary_hover;
  }
  &:active {
    @apply bg-surface-base-primary_active text-base-secondary_active border-base-primary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &.hlc-btn-disabled {
    @apply bg-surface-base-primary text-base-secondary_disabled border-base-primary_disabled;
  }
}
/* Button Secondary + danger */
.hlc-btn-secondary.hlc-btn-danger {
  &:not(.hlc-btn-disabled) {
    @apply bg-surface-base-primary text-error-primary border border-error-primary shadow-xs;
    &:hover {
      @apply bg-surface-error-primary_hover text-error_hover border-error_hover;
    }
    &:active {
      @apply bg-surface-error-primary_active text-error_active border-error_hover;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-error-400;
    }
  }
  &.hlc-btn-disabled {
    @apply bg-surface-base-primary text-base-tertiary_disabled border border-base-primary_disabled shadow-xs;
  }
}

/* Button text + color primary */
.hlc-btn-text.hlc-btn-color-primary {
  @apply bg-surface-base-primary text-brand-red-primary;
  &.hlc-btn-size-sm {
    @apply px-3.5 py-md;
  }
  &.hlc-btn-size-md {
    @apply px-xl py-2.5;
  }
  &.hlc-btn-size-lg {
    @apply px-xl py-2.5;
  }
  &.hlc-btn-size-xl {
    @apply px-2xl py-lg;
  }
  &.hlc-btn-size-2xl {
    @apply px-3xl py-3.5;
  }
  &:hover {
    @apply bg-surface-brand-red-primary_hover text-brand-red-primary_hover;
  }
  &:active {
    @apply bg-surface-brand-red-primary_active text-brand-red-primary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &.hlc-btn-disabled {
    @apply bg-surface-base-primary text-base-secondary_disabled;
  }
}
/* Button Text + color gray */
.hlc-btn-text.hlc-btn-color-gray {
  @apply bg-surface-base-primary text-base-tertiary;
  &:hover {
    @apply bg-surface-base-primary_hover text-base-tertiary_hover;
  }
  &:active {
    @apply bg-surface-base-primary_active text-base-tertiary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &.hlc-btn-disabled {
    @apply bg-surface-base-primary text-base-tertiary_disabled;
  }
}
/* Button Text + danger */
.hlc-btn-text.hlc-btn-danger {
  &:not(.hlc-btn-disabled) {
    @apply text-error-primary;
    &:hover {
      @apply bg-surface-error-primary_hover text-error_hover;
    }
    &:active {
      @apply bg-surface-error-primary_active text-error_active;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-error-400;
    }
  }
}

/* Button Link + color primary */
.hlc-btn-link.hlc-btn-color-primary {
  @apply bg-surface-base-primary text-brand-red-primary p-0;
  &.hlc-btn-size-sm {
    @apply rounded-xxs;
  }
  &:hover {
    @apply text-brand-red-primary_hover;
  }
  &:active {
    @apply text-brand-red-primary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &.hlc-btn-disabled {
    @apply text-base-tertiary_disabled;
  }
}
/* Button Link + color gray */
.hlc-btn-link.hlc-btn-color-gray {
  @apply bg-surface-base-primary text-base-tertiary;
  &:hover {
    @apply text-base-tertiary_hover;
  }
  &:active {
    @apply text-base-tertiary_active;
  }
  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-400;
  }
  &.hlc-btn-disabled {
    @apply text-base-tertiary_disabled;
  }
}
/* Button Link + danger */
.hlc-btn-link.hlc-btn-danger {
  &:not(.hlc-btn-disabled) {
    @apply text-error-primary;
    &:hover {
      @apply text-error_hover;
    }
    &:active {
      @apply text-error_active;
    }
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-error-400;
    }
  }
}
