.hlc-badge {
  @apply cursor-default inline-flex items-center font-primary text-base-secondary border-none bg-surface-base-primary align-bottom transition-all duration-200 ease-out;
  box-shadow: 0 0 0 1.5px var(--color-gray-300);
}

.hlc-badge.hlc-badge-selected {
  @apply text-brand-green-primary_active bg-surface-base-primary_active;
  box-shadow: 0 0 0 1.5px var(--color-gray-500);
}

.hlc-badge.hlc-badge-solid.hlc-badge-selected {
  @apply text-white bg-fill-brand-green-primary;
  box-shadow: 0 0 0 1.5px var(--color-secondary-600);
}

.hlc-badge-sm {
  @apply text-xs font-medium px-sm h-[18px];
}
.hlc-badge-md {
  @apply text-xs font-medium px-md h-[22px];
}
.hlc-badge-lg {
  @apply text-sm font-medium px-[10px] h-[24px];
}

.hlc-badge-rounded {
  @apply rounded-xl;
}

.hlc-badge-square {
  @apply rounded-sm;
}

.hlc-badge-square.hlc-badge-sm {
  @apply rounded-xs;
}

.hlc-badge > .hlc-badge-prefix-icon,
.hlc-badge > .hlc-badge-suffix-icon,
.hlc-badge > .hlc-badge-close-icon {
  @apply inline-flex transition-all duration-200 ease-out;
}

.hlc-badge.hlc-badge-sm > .hlc-badge-prefix-icon {
  @apply me-xs;
}
.hlc-badge.hlc-badge-md > .hlc-badge-prefix-icon {
  @apply me-xs;
}
.hlc-badge.hlc-badge-lg > .hlc-badge-prefix-icon {
  @apply me-sm;
}

.hlc-badge.hlc-badge-sm > .hlc-badge-suffix-icon {
  @apply ms-xs;
}
.hlc-badge.hlc-badge-md > .hlc-badge-suffix-icon,
.hlc-badge.hlc-badge-lg > .hlc-badge-suffix-icon {
  @apply ms-sm;
}

.hlc-badge > .hlc-badge-with-dot > .hlc-dot {
  @apply m-xxs;
}

.hlc-badge > .hlc-badge-close-icon {
  @apply cursor-pointer m-[3px] ms-[3px];
}

.hlc-badge.hlc-badge-sm {
  &:has(.hlc-badge-with-dot) {
    @apply pl-sm pr-md;
  }
  &:has(.hlc-badge-with-avatar) {
    @apply pl-xs pr-md;
  }
  &:has(.hlc-badge-prefix-icon.hlc-badge-with-icon) {
    @apply pl-sm pr-md;
  }
  &:has(.hlc-badge-suffix-icon.hlc-badge-with-icon) {
    @apply pl-md pr-sm;
  }
}

.hlc-badge.hlc-badge-md {
  &:has(.hlc-badge-with-dot) {
    @apply pl-sm pr-md;
  }
  &:has(.hlc-badge-with-avatar) {
    @apply pl-[3px] pr-md;
  }
  &:has(.hlc-badge-prefix-icon.hlc-badge-with-icon) {
    @apply pl-sm pr-md;
  }
  &:has(.hlc-badge-suffix-icon.hlc-badge-with-icon) {
    @apply pl-md pr-sm;
  }
}

.hlc-badge.hlc-badge-lg {
  &:has(.hlc-badge-with-dot) {
    @apply pl-md pr-[10px];
  }
  &:has(.hlc-badge-with-avatar) {
    @apply pl-xs pr-[10px];
  }
  &:has(.hlc-badge-prefix-icon.hlc-badge-with-icon) {
    @apply pl-sm pr-[10px];
  }
  &:has(.hlc-badge-suffix-icon.hlc-badge-with-icon) {
    @apply pl-[10px] pr-sm;
  }
}

.hlc-badge.hlc-badge-primary:not(.hlc-badge-solid) {
  @apply text-brand-red-primary;
  box-shadow: 0 0 0 1.5px var(--color-primary-200);
}
.hlc-badge.hlc-badge-gray:not(.hlc-badge-solid) {
  @apply text-base-secondary;
  box-shadow: 0 0 0 1.5px var(--color-gray-200);
}
.hlc-badge.hlc-badge-error:not(.hlc-badge-solid) {
  @apply text-error-primary;
  box-shadow: 0 0 0 1.5px var(--color-error-200);
}
.hlc-badge.hlc-badge-warning:not(.hlc-badge-solid) {
  @apply text-warning-primary;
  box-shadow: 0 0 0 1.5px var(--color-warning-200);
}
.hlc-badge.hlc-badge-success:not(.hlc-badge-solid) {
  @apply text-success-primary;
  box-shadow: 0 0 0 1.5px var(--color-success-200);
}
.hlc-badge.hlc-badge-additional:not(.hlc-badge-solid) {
  @apply text-additional-primary;
  box-shadow: 0 0 0 1.5px var(--color-additional-200);
}
.hlc-badge.hlc-badge-info:not(.hlc-badge-solid) {
  @apply text-info-primary;
  box-shadow: 0 0 0 1.5px var(--color-info-200);
}

.hlc-badge.hlc-badge-pill.hlc-badge-primary {
  @apply bg-fill-brand-red-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-gray {
  @apply bg-fill-base-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-error {
  @apply bg-fill-error-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-warning {
  @apply bg-fill-warning-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-success {
  @apply bg-fill-success-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-additional {
  @apply bg-surface-additional-tertiary;
}
.hlc-badge.hlc-badge-pill.hlc-badge-info {
  @apply bg-surface-info-tertiary;
}

.hlc-badge.hlc-badge-solid {
  @apply text-white border-none shadow-none;
}

.hlc-badge.hlc-badge-solid > .hlc-badge-with-dot > .hlc-dot {
  @apply bg-white;
}

.hlc-badge.hlc-badge-solid.hlc-badge-primary {
  @apply bg-fill-brand-red-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-gray {
  @apply bg-fill-brand-green-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-error {
  @apply bg-fill-error-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-warning {
  @apply bg-fill-warning-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-success {
  @apply bg-fill-success-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-additional {
  @apply bg-fill-additional-primary;
}
.hlc-badge.hlc-badge-solid.hlc-badge-info {
  @apply bg-fill-info-primary;
}
